.container{
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.ms-list{
    height: 300px;
    border: 1px solid blue;
    padding: 15px;
    overflow: auto;
}

.ms-form{
    text-align: center;
    padding: 5px 15px;
}

.ms-list--user-name{
    padding: 5px;
    color: blue;
}